In [31]:
import pandas as pd

In [32]:
reads = pd.read_csv('./combined_species_mpa.txt', sep='\t')

In [33]:
reads.shape

(2438, 74)

In [34]:
reads.head(5)

,#Classification,sample12835,sample12836,sample12837,sample12838,sample12839,sample12840,sample12841,sample12842,sample12843,...,sample6615,sample6616,sample6617,sample6618,sample6619,sample6620,sample6621,sample6622,sample6623,sample6624
0,Atribacter_laminatus,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Fidelibacter_multiformis,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Candidatus_Cloacimonas_acidaminovorans,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Caldithrix_abyssi,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Sphaerobacter_thermophilus,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
species  = reads.iloc[:, 0]

In [36]:
type(species.iloc[0])

str

In [37]:
species[species.str.match(r'\[')]

933               [Haemophilus]_ducreyi
1635             [Clostridium]_scindens
1657              [Clostridium]_colinum
2044           [Actinomadura]_parvosata
2190    [Mycobacterium]_stephanolepidis
Name: #Classification, dtype: object

In [ ]:
# Replace [ or ] with empty string
# Replace _ with space