In [1]:
import pandas as pd

In [8]:
reads = pd.read_csv('./combined_genus_mpa.txt', sep='\t', index_col=0)

In [9]:
reads.shape

(1485, 73)

In [10]:
reads.head(5)

,sample12835,sample12836,sample12837,sample12838,sample12839,sample12840,sample12841,sample12842,sample12843,sample12844,...,sample6615,sample6616,sample6617,sample6618,sample6619,sample6620,sample6621,sample6622,sample6623,sample6624
#Classification,,,,,,,,,,,,,,,,,,,,,
Atribacter,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Fidelibacter,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Candidatus_Cloacimonas,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Caldithrix,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Sphaerobacter,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
genus_transpose = reads.T

In [12]:
genus_transpose.head(5)

#Classification,Atribacter,Fidelibacter,Candidatus_Cloacimonas,Caldithrix,Sphaerobacter,Lentisphaera,Tichowtungia,Kiritimatiella,Persephonella,Sulfurihydrogenibium,...,Methanosarcina,Methanoculleus,Methanocella,Haliovirga,Leptotrichia,Fusobacterium,Candidatus_Chazhemtobacterium,Candidatus_Bipolaricaulis,Promethearchaeum,Candidatus_Fervidibacter
sample12835,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
sample12836,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
sample12837,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
sample12838,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
sample12839,0,0,0,0,0,0,0,0,0,0,...,0,0,6,0,0,0,0,0,0,0

In [14]:
genus_transpose.to_csv('./genus_transpose.csv', index=True, header=True)